[Unit]
Description=SIP3 Captain for {{ captain.pcap.dev }}
Documentation=https://www.sip3.io/docs
After=network-online.target

[Service]
WorkingDirectory=/opt/sip3-captain/{{ captain.pcap.dev }}
ExecStart=/opt/sip3-captain/{{ captain.pcap.dev }}/sip3-captain
User=root
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=sip3-captain-{{ captain.pcap.dev }}.service
